body {
  margin: 0;
}

b {
  font-size: 35px;
}

.first-section {
  display: flow-root;
  background: linear-gradient(to bottom, rgb(255, 65, 65), purple, slateblue);
}




.overall-container {
  margin-inline: 50px;
}

.sub-overall-container {
  margin-block: 50px;
}

.the-heading {
  font-family: Arial;
  font-size: 25px;
}

.separate-color {
  font-size: 35px;
  font-weight: 900;
  background: linear-gradient(to right, gold, red, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underlined {
  color: rgb(23, 219, 209);
}


/* second section */


.second-section {
  display: flow-root;
}

.first-container-second-section {
  margin-inline: 15px;
}

.second-container-second-section {
  margin-block: 20px;
}

.container-direct-to-the-image {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.the-image-itself {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}